.navbar-header {
    width: 100%;
}

.btn {
    margin-top: 2vh;
    outline: none;
    margin-right: 10px;
}

@media screen and (max-width: 426px) {
    .navbar-header {
        display: flex;
        justify-content: space-between;
    }
}
