<div class="row">
  <div class="col-xs-12">
    <form #form="ngForm" (ngSubmit)="onIngridientAdded(form.value)">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text"name="name" class="form-control" ngModel/>
        </div>

        <div class="col-sm-2 form-group">
            <label for="quantity">Quantity</label>
            <input type="number" name="quantity" class="form-control" min="0" ngModel/>
        </div>
      </div>

      <div class="row">
          <div class="col-sm-12">
            <!-- add feature is not added -->
              <button class="btn btn-success ADC__buttons" type="submit">Add</button>
              <button class="btn btn-danger ADC__buttons">Delete</button>
              <button class="btn btn-primary ADC__buttons" type="reset">Clear</button>
            </div>
      </div>
    </form>
  </div>
</div>
